---

gtf: "{{ shared_genome_data_path }}/{{ genome_version }}/{{ ensembl_release }}/{{ species_name }}.{{ genome_version }}.{{ ensembl_release }}.gtf"
gprofiler2_run: true
gene_sets_files: "{{ shared_genome_data_path }}/{{ genome_version }}/{{ ensembl_release }}/gprofiler_full_{{ gprofiler_species_name }}.ENSG.gmt"
