---

fasta: "{{ shared_genome_data_path }}/{{ genome_version }}/{{ species_name }}.{{genome_version}}.dna.primary_assembly.fa"
gtf: "{{ shared_genome_data_path }}/{{ genome_version }}/{{ ensembl_release }}/{{ species_name }}.{{ genome_version }}.{{ ensembl_release }}.gtf"
# star_index: "{{ shared_genome_data_path }}/{{ genome_version }}/{{ ensembl_release }}/star"
# salmon_index: "{{ shared_genome_data_path }}/{{ genome_version }}/{{ ensembl_release }}/salmon"
