docker {
    enabled    = true
    runOptions = '-u $(id -u):$(id -g) -v /shared/data/nextflow:/shared/data/nextflow'
}

executor {
    name            = "slurm"
    queueSize       = 500
    exitReadTimeout = "30 min"
}

process {
    resourceLimits = [
        cpus: 32,
        memory: 60.GB,
        time: 8.h
    ]
    // Default values for jobs
    queue = { task.memory > 7.GB ? "hpc" : ( task.cpus > 4 ? "hpc" : "htc" ) }
    scratch = "/mnt/scratch"

}
