docker {
    enabled    = true
	runOptions = '-u $(id -u):$(id -g)'
    // the default is 20 minutes and fails with large images
    //pullTimeout = "3 hours"
}

process {
    resourceLimits = [
        cpus: 14,
        memory: 60.GB,
        time: 24.h
    ]
    //beforeScript    = "sleep 300"
    // this is to avoid errors for missing files due to shared filesystem latency
    maxRetries    = 3
    //errorStrategy = { task.exitStatus == 0 ? "retry" : "terminate" }
    //cache         = "lenient"
    //afterScript   = "sleep 60"
    withLabel: process_high {
        queue = "htc"
    }
    withLabel: process_long {
        queue = "htc"
    }
    withLabel: process_low {
        queue = "htc"
    }
    withLabel: process_medium {
        queue = "htc"
    }
    withLabel: process_single {
        queue = "hpc"
    }

}

executor {
    name            = "slurm"
    queueSize       = 80
    exitReadTimeout = "30 min"
}
