docker {
    enabled    = true
	runOptions = '-u $(id -u):$(id -g)'
}

executor {
    name            = "slurm"
    queueSize       = 500
    exitReadTimeout = "30 min"
}

process {
    resourceLimits = [
        cpus: 48,
        memory: 90.GB,
        time: 8.h
    ]
    // Default values for jobs
    queue = "dynamic"
	errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
    cpus   = 1
    memory = { 2.GB   * task.attempt }
    time   = { 1.h    * task.attempt }
    withLabel:process_single {
        cpus   = 1
        memory = { 2.GB * task.attempt }
        time   = { 30.m  * task.attempt }
    }
    withLabel:process_low {
        cpus   = 2
        memory = { 2.GB * task.attempt }
        time   = { 30.m  * task.attempt }
    }
    withLabel:process_medium {
        cpus   = 2
        memory = { 6.MB * task.attempt }
        time   = { 30.m  * task.attempt }
    }
    withLabel:process_high {
        cpus   = 12
        memory = { 12.MB * task.attempt }
        time   = { 30.m  * task.attempt }
    }
    withLabel:process_long {
        time   = { 2.h  * task.attempt }
    }
    withLabel:process_high_memory {
        memory = { 24.GB * task.attempt }
    }
    withName: GTF_TO_TABLE {
        cpus   = 1
        memory = { 2.GB   * task.attempt }
        time   = { 2.m    * task.attempt }
    }
    withName: VALIDATOR {
        cpus   = 1
        memory = { 1.GB   * task.attempt }
        time   = { 2.m    * task.attempt }
    }
    withName: CUSTOM_MATRIXFILTER {
        cpus   = 1
        memory = { 500.MB   * task.attempt }
        time   = { 2.m    * task.attempt }
    }
    withName: DESEQ2_DIFFERENTIAL {
        cpus   = 1
        memory = { 2.GB   * task.attempt }
        time   = { 5.m    * task.attempt }
    }
    withName: DESEQ2_NORM {
        cpus   = 1
        memory = { 2.GB   * task.attempt }
        time   = { 5.m    * task.attempt }
    }
    withName: FILTER_DIFFTABLE {
        cpus   = 1
        memory = { 500.MB   * task.attempt }
        time   = { 2.m    * task.attempt }
    }
    withName: SHINYNGS_APP {
        cpus   = 1
        memory = { 2.GB   * task.attempt }
        time   = { 2.m    * task.attempt }
    }
    withName: PLOT_DIFFERENTIAL {
        cpus   = 1
        memory = { 2.GB   * task.attempt }
        time   = { 2.m    * task.attempt }
    }
    withName: PLOT_EXPLORATORY {
        cpus   = 1
        memory = { 2.GB   * task.attempt }
        time   = { 5.m    * task.attempt }
    }
    withName: RMARKDOWNNOTEBOOK {
        cpus   = 1
        memory = { 8.GB   * task.attempt }
        time   = { 5.m    * task.attempt }
    }
    withName: MAKE_REPORT_BUNDLE {
        cpus   = 1
        memory = { 2.GB   * task.attempt }
        time   = { 2.m    * task.attempt }
    }
}