docker {
    enabled    = true
	runOptions = '-u $(id -u):$(id -g)'
}

executor {
    name            = "slurm"
    queueSize       = 500
    exitReadTimeout = "30 min"
}

process {
    resourceLimits = [
        cpus: 48,
        memory: 90.GB,
        time: 8.h
    ]
    // Default values for jobs
    queue = "htc"
    cpus   = 1
    memory = { 2.GB   * task.attempt }
    time   = { 1.h    * task.attempt }
    withLabel:process_single {
        cpus   = 1
        memory = { 2.GB * task.attempt }
        time   = { 30.m  * task.attempt }
    }
    withLabel:process_low {
        cpus   = 2
        memory = { 12.GB * task.attempt }
        time   = { 30.m  * task.attempt }
    }
    withLabel:process_medium {
        cpus   = 6
        memory = { 36.MB * task.attempt }
        time   = { 30.m  * task.attempt }
    }
    withLabel:process_high {
        cpus   = 12
        memory = { 72.MB * task.attempt }
        time   = { 30.m  * task.attempt }
    }
    withLabel:process_long {
        time   = { 2.h  * task.attempt }
    }
    withLabel:process_high_memory {
        memory = { 4.GB * task.attempt }
    }
    withName: GTF_TO_TABLE {
        cpus   = 2
        memory = { 2.GB   * task.attempt }
        time   = { 10.m    * task.attempt }
    }
    withName: VALIDATOR {
        cpus   = 2
        memory = { 1.GB   * task.attempt }
        time   = { 10.m    * task.attempt }
    }
    withName: CUSTOM_MATRIXFILTER {
        cpus   = 4
        memory = { 500.MB   * task.attempt }
        time   = { 10.m    * task.attempt }
    }
    withName: DESEQ2_DIFFERENTIAL {
        cpus   = 4
        memory = { 2.GB   * task.attempt }
        time   = { 10.m    * task.attempt }
    }
    withName: DESEQ2_NORM {
        cpus   = 4
        memory = { 2.GB   * task.attempt }
        time   = { 10.m    * task.attempt }
    }
    withName: FILTER_DIFFTABLE {
        cpus   = 10
        memory = { 500.MB   * task.attempt }
        time   = { 10.m    * task.attempt }
    }
    withName: SHINYNGS_APP {
        cpus   = 2
        memory = { 2.GB   * task.attempt }
        time   = { 10.m    * task.attempt }
    }
    withName: PLOT_DIFFERENTIAL {
        cpus   = 2
        memory = { 2.GB   * task.attempt }
        time   = { 10.m    * task.attempt }
    }
    withName: PLOT_EXPLORATORY {
        cpus   = 3
        memory = { 2.GB   * task.attempt }
        time   = { 10.m    * task.attempt }
    }
    withName: RMARKDOWNNOTEBOOK {
        cpus   = 2
        memory = { 4.GB   * task.attempt }
        time   = { 10.m    * task.attempt }
    }
    withName: MAKE_REPORT_BUNDLE {
        cpus   = 2
        memory = { 1.GB   * task.attempt }
        time   = { 10.m    * task.attempt }
    }
}