docker {
    enabled    = true
	runOptions = '-u $(id -u):$(id -g)'
}

process {
    resourceLimits = [
        cpus: 48,
        memory: 90.GB,
        time: 8.h
    ]
    // Default values for jobs
    queue = "htc"
    cpus   = 1
    memory = { 2.GB   * task.attempt }
    time   = { 1.h    * task.attempt }
    // All analyses use scratch even if many may not need it. It may still limit
    // the load on the network
    scratch = "/mnt/scratch"
    maxRetries    = 3
	errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
    // this is to avoid errors for missing files due to shared filesystem latency
    //cache         = "lenient"
    afterScript   = "sleep 30"
    // Many analyses are not optimised but configured so hopefully everything runs
    // Based on the precedence in the config, first is the label configuration,
    // then below are analysis within the label but where the requirements are
    // too different.
    withLabel: process_high {
        cpus   = 20
        memory = { 40.GB * task.attempt }
        time   = { 2.h  * task.attempt }
    }
    withName: GTF_GENE_FILTER {
        cpus   = 2
        memory = { 2.GB * task.attempt }
        time   = { .5.h  * task.attempt }
    }
    withName: SIMPLEAF_INDEX {
        cpus   = 8
        memory = { 12.GB * task.attempt }
        time   = { 1.h  * task.attempt }
    }
    withName: FASTQC {
        cpus   = 5
        memory = { 4.GB * task.attempt }
        time   = { 4.h  * task.attempt }
    }

    withLabel: process_low {
        cpus   =  1
        memory = { 1.GB * task.attempt }
        time   = { .5.h   * task.attempt }
    }
    withName: SIMPLEAF_QUANT {
        cpus   = 6
        memory = { 8.GB * task.attempt }
        time   = { 4.h  * task.attempt }
    }
    withLabel: process_medium {
        cpus   =  1
        memory = { 2.GB * task.attempt }
        time   = { 1.h   * task.attempt }
    }
    withName: MTX_TO_H5AD {
        cpus   = 2
        memory = { 2.GB * task.attempt }
        time   = { 1.h  * task.attempt }
    }
    withName: ANNDATAR_CONVERT {
        cpus   = 2
        memory = { 4.GB * task.attempt }
        time   = { 1.h  * task.attempt }
    }
    withName: ALEVINQC {
        cpus   = 2
        memory = { 4.GB * task.attempt }
        time   = { 1.h  * task.attempt }
    }
    withName: MULTIQC {
        cpus   =  2
        memory = { 2.GB * task.attempt }
        time   = { .5.h  * task.attempt }
    }
    withName: CELLBENDER_REMOVEBACKGROUND {
        cpus   =  2
        memory = { 8.GB * task.attempt }
        time   = { 5.h  * task.attempt }
    }
    withName: ANNDATA_BARCODES {
        cpus   =  4
        memory = { 2.GB * task.attempt }
        time   = { 1.h  * task.attempt }
    }
    withName: CONCAT_H5AD {
        cpus   =  2
        memory = { 2.GB * task.attempt }
        time   = { 1.h  * task.attempt }
    }
    withLabel: process_single {
        cpus   =  1
        memory = { 1.GB * task.attempt }
        time   = { 1.h  * task.attempt }
    }
}

executor {
    name            = "slurm"
    queueSize       = 500
    exitReadTimeout = "30 min"
}
